@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Noto+Serif+JP&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-serifjp bg-ivory text-gray-800;
    background-image: theme('backgroundImage.texture');
    background-size: cover;
    background-repeat: no-repeat;
  }
}
